<div class="footer row">
    <p class="col mt-3 ms-3">&copy;2023 Viktoria Fedorova </p>
    <ul class="nav col justify-content-end list-unstyled d-flex mt-3 me-3">
        <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com"><img width="48" height="48" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://instagram.com"><img width="48" height="48" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://facebook.com"><img width="48" height="48" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a></li>
      </ul>

</div>
